
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    color: white;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --color: black;
    --main-color: #cccc;
    --secondary-color: #8F8A89;
    --tertiary-color: #FF4301;
  }
  
  :root.dark {
    --color: #ccc;
    --main-color: #261F1E;
    --secondary-color: #160502;
  }
  
  /* ---- typography ---- */
  
  body {
    font-family: 'Inconsolata', monospace;
    background: var(--main-color);
    color: var(--color);
    
  }
  
  h1 {
    color: var(--tertiary-color);
    line-height: 0.7;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
  }
  
  h2 {
    font-size: -webkit-xxx-large;
    line-height: 0.9;
    color: var(--color);
    /* color: rgb(241, 241, 241); */
  }
  

  
  p {
    border-bottom-style: solid;
    margin: 0;
    font-size: 14px;
  }

  div {
    display: block;
  }

  li {
    /* color: white; */
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    text-transform: lowercase;
    
  }


  /* ---- layout ---- */
  
  #site-header {
    padding: 20px 0;
    /* color: white; */
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    /* border-bottom: 3px solid white; */

  }
  
  #site-footer {
    padding: 20px 0;
    background: black;
    /* background: rgb(140,100,106);  */
  }
  
  #site-main {
    min-height: calc(100vh - 150px);
    width: 100%;
    /* background: rgb(45, 45, 45); */

    /* background: rgb(246,224,181); */
    
  }
  
  /* ---ENCANTA TITLE--- */

  .container {
    max-width: 800px;
    overflow: auto;
    margin: 0 auto;
  }

  .title {
    display: inherit;
    margin-top: -150px;
    padding: 0px;
    display: inherit;
    margin-bottom: -108px;
  }
  
  #white {
    color:white;
  }

  .can-title {
    font-family: 'DM Serif Display', serif;
    color:white;
    font-size: 80px;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
    max-height: 50%;
  }
  
  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 200px, 0);  }
  }
    /* color: white; */
    /* color: rgb(211, 72, 54) */
  
  .tar-title {
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    /* color:white; */
    /* color: rgb(210, 210, 210) */
    font-family: 'DM Serif Display', serif;    
  }

  .title-legend {
    font-family: 'Lobster';
    font-size: 23px;
    color: rbg(15,157,88);
    /* color: white; */

  }

  .search {
    margin: 0px;
    border-top: 1px;
    padding: 4px;
  }

  /* search bar input animation */
  input[type=text] {
    text-align: left;
    width: 252px;
    /* background-color: inherit; */
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline:none;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 110%;
  }

  .search-artist {
    width: 100%;
    background: none;
    border-top: none;
    border-left: none;
    border-bottom: 3px solid black;
    color: var(--tertiary-color);
    height: 50px;
    border-right: none;
    font-size: 37px;
    font-family: 'Inconsolata', monospace;
  }
  .search-song {
    width: 100%;
    background: none;
    border-top: none;
    border-left: none;
    border-bottom: 3px solid black;
    color: var(--tertiary-color);
    height: 50px;
    border-right: none;
    font-size: 37px;
    font-family: 'Inconsolata', monospace;
  }

/* BUTTON */
    input[type="submit" i] {
      -webkit-appearance: push-button;
      color: white;
      user-select: none;
      white-space: pre;
      align-items: flex-start;
      text-align: center;
      cursor: default;
      margin: 2px;
      background-color: transparent;
      box-sizing: border-box;
      padding: 1px 7px 2px;
      border-width: 5px;
      border-style: solid;
      border-color:transparent;
      border-image: initial;
    }

  .submit-button {
    color: rbg: (15,157,88);
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-transform: lowercase;
  }


  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  
  @media (min-width: 768px) {
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  
/* ---SONG LYRICS--- */


  .header-song {
    position: sticky;
  }

  .artist-name {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-family: 'DM Serif Display', serif; 
    font-size: 59px;
    font-style: normal;
    line-height: 100%;
    color: var(--tertiary-color);  
  }
  .song-name {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: auto;
    font-size: 90px;
    font-style: oblique;
    line-height: 100%;
    color: var(--color);
    /* color: white; */
  }

  .cards-container {
    width: 100%;
    margin: auto;
    font-size: 20px;
    line-height: 121%;
    color: rgb(45, 45, 45);  
  }

  .sticky {
    position: sticky;
    top: 10px;
  }



  /* Alert */



.alert:hover:before {
  border-bottom: 10px solid hsla(0,0%,0%,.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 40px;
  width: 0;
}
.alert:target {
  display: none;
}
.alert {
  background-color: rgb(255, 67, 1);
  background-image: linear-gradient(135deg, transparent,
                    transparent 25%, hsla(0,0%,0%,.1) 25%,
                    hsla(0,0%,0%,.1) 50%, transparent 50%,
                    transparent 75%, hsla(0,0%,0%,.1) 75%,
                    hsla(0,0%,0%,.1));
  background-size: 20px 20px;
  color: black;
  font: bold 26px/40px sans-serif;
  font-family: 'Inconsolata', monospace;
  display: block;
  position: sticky;
  text-align: left;
  text-decoration: none;
  top: -45px;
  width: 100%;
  animation: alert 1s ease forwards;
}

/* Animation */

@-webkit-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@-moz-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@-ms-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@-o-keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}
@keyframes alert {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { top: 0; }
}

/* HEADER BUTTON */
/* Style buttons */
.btn {
  color: coral; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 26px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

ul {
  list-style-type: none;
}

/* Darker background on mouse-over
.btn:hover {
  background-color: RoyalBlue;
} */
